* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 383px;
    max-height: 586px;
    font-family: Arial, Helvetica, sans-serif;
}

.dir{
    width: 378px;
    height: 288px;
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    line-height: 126px;
    margin: auto;
    border: 20px solid rgb(66, 133, 244);
}

.dir.north {
    background: rgb(230, 118, 118);
    margin-bottom: 4px;
}

.dir.south {
    background: rgb(169, 230, 230);
}